/node_modules/
/vendor/
app/GoogleAPI/vendor/
**/GoogleAPI/

.env
.env.backup
.env.production
!.env.example 

stripe.exe
/blind_school

*.sqlite*
.phpunit.result.cache

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp