/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache/
/vendor/
app/GoogleAPI/vendor/
**/GoogleAPI/

.env
.env.backup
.env.production
!.env.example 

stripe.exe
/blind_school

*.sqlite*
.phpunit.result.cache

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
