APP_NAME=school-for-blind-app
APP_ENV=local
APP_KEY=base64:cFEQvKzftCeH9E8TwAf+yJcyUYN6uQ9zWc4EbtBwfHg=
APP_DEBUG=true

APP_URL=https://stays-ability-accustom.ngrok-free.dev

APP_LOCALE=ar
APP_FALLBACK_LOCALE=ar
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12
LIVEKIT_URL=https://school-for-blind-i8afqt3h.livekit.cloud
WEB_LIVEKIT_URL=https://school-for-blind-i8afqt3h.livekit.cloud
LIVEKIT_API_KEY=APIJPMi25UFJTBp
LIVEKIT_API_SECRET=RcijPJurqySgkjfQ2o6waMSve6eFFqRpPZgWxpF5G9ZA
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3305
DB_DATABASE=school-for-blind-app
DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


# GREEN_API_INSTANCE_ID=7107600398
# GREEN_API_TOKEN=b1f2088cc92d4fc489aab802344720bf538632c863fe461c90
# GREEN_API_URL=https://7107.api.greenapi.com

VITE_APP_NAME="${APP_NAME}"
ULTRAMSG_INSTANCE_ID=instance182730
ULTRAMSG_TOKEN=v6mv6lewg6w73wdr
ULTRAMSG_URL=https://api.ultramsg.com/instance182730/

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=808080
REVERB_APP_KEY=my-secret-key
REVERB_APP_SECRET=my-secret-password
REVERB_HOST="127.0.0.1"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"