# Dependencies
/vendor/
/node_modules/

# Laravel Directories & Cache
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Environment & Secret files (مثل إشعارات غوغل أو بيانات الـ API)
.env
.env.backup
.env.production
google-service*.json
*.json
auth.json

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db